@page "/user/{author}/about"
@using System.Security.Claims
@model Chirp.Web.Pages.AboutMeModel
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
}

<div>
    @if (User.Identity?.IsAuthenticated ?? false)
    {
        <h2>About Me</h2>
        <span>This is all the information stored about your <em>Chirp!</em> user:</span>
        <ul style="margin: 0 0 0 0; padding: 0 0 0 2em; line-height: 2;">
            <li><b>Username</b>: @User.Identity.Name</li>
            <li><b>E-mail</b>: @User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Email)?.Value</li>
            <li><b>Posted cheeps:</b> <a style="color: #000000;" href="/user/@User.Identity.Name">view timeline</a></li>
        </ul>
        <details style="margin: 0; padding: 0.4em 0 0 1.1em;" open>
            <summary style=""><b>Followed users:</b></summary>
            <ul style="margin-top: 0.2em; line-height: 1.8; list-style:none; padding-left: 1.5em;">
                <li>PlaceHolderUser1</li>
                <li>PlaceHolderUser2</li>
                <li>PlaceHolderUser3</li>
            </ul>
        </details>

        <p>To download all your personal data, press the button below:</p>
        <button style="margin-bottom: 0.5em">Download ZIP</button>
    }
</div>