@page "/"
@model Chirp.Web.Pages.PublicModel
@{
ViewData["Title"] = "Chirp!";
Layout = "Shared/_Layout";
}

<div>
	@if (User.Identity != null && User.Identity.IsAuthenticated)
    {
    <form method="post" id="post-form" data-preserve-scroll="true">
            @if (!string.IsNullOrEmpty(Model.ErrorMessage))
            {
                <div style="color: red; margin-bottom: 10px;">@Model.ErrorMessage</div>
            }
            <textarea id="post-text-field" asp-for="CheepMessage" required placeholder="Post a Cheep!" rows="4" style="width: 100%; box-sizing: border-box"></textarea>
            <br>
            <input type="submit" value="Post">
        </form>
        <hr>
    }

    <h2> Public Timeline </h2>
    <ul id="messagelist" class="cheeps">
    @if (Model.Cheeps.Any())
    {
        <ul class="cheeps-list" style="list-style:none; padding-left:0;">
            @foreach (var cheep in Model.Cheeps.Where(c => !c.ParentCheepID.HasValue)) //Renders only root node cheeps (replies gets rendered from _CheepPartial)
            {
                @await Html.PartialAsync("_CheepPartial", cheep)
            }
        </ul>
    }
    else
    {
        <em>There are no cheeps so far.</em>
    }
    </ul>

    <div class="pagination-display">
        @if (Model.HasPreviousPage)
        {
            <a class="pagination-button" href="/?currentpage=@(Model.CurrentPage - 1)">&larr;</a>
        } else {
            <span class="pagination-button-unclickable">&larr;</span>
        }
        <span class="pagination-label">Page @Model.CurrentPage</span>
        @if (Model.HasNextPage)
        {
            <a class="pagination-button" href="/?currentpage=@(Model.CurrentPage + 1)">&rarr;</a>
        } else {
            <span class="pagination-button-unclickable">&rarr;</span>
        }
    </div>
</div>

<script>
    window.addEventListener("load", function () {
        setupPostEnterBehavior();
    });
</script>
