@page "/"
@model Chirp.Web.Pages.PublicModel
@{
ViewData["Title"] = "Chirp!";
Layout = "Shared/_Layout";
}

<div>
	@if (User.Identity != null && User.Identity.IsAuthenticated)
    {
        <div>
            @if (!string.IsNullOrEmpty(Model.ErrorMessage))
            {
                <div class="form-error">@Model.ErrorMessage</div>
            }
            <partial name="_PostFormPartial" model="Model"/>
            <hr>
        </div>
    }

    <h2> Public Timeline </h2>
    <ul id="messagelist" class="cheeps">
    @if (Model.Cheeps.Any())
    {
    <ul class="cheeps-list">
            @foreach (var cheep in Model.Cheeps.Where(c => !c.ParentCheepID.HasValue)) //Renders only root node cheeps (replies gets rendered from _CheepPartial)
            {
                <partial name="_CheepPartial" model="cheep" />
            }
        </ul>
    }
    else
    {
        <em>There are no cheeps so far.</em>
    }
    </ul>

    <div class="pagination-display">
        @if (Model.HasPreviousPage)
        {
            <a class="pagination-button" href="/?currentpage=@(Model.CurrentPage - 1)">&larr;</a>
        } else {
            <span class="pagination-button-unclickable">&larr;</span>
        }
        <span class="pagination-label">Page @Model.CurrentPage</span>
        @if (Model.HasNextPage)
        {
            <a class="pagination-button" href="/?currentpage=@(Model.CurrentPage + 1)">&rarr;</a>
        } else {
            <span class="pagination-button-unclickable">&rarr;</span>
        }
    </div>
</div>
