@page "/user/{author}"
@using Chirp.Infrastructure.Services
@model Chirp.Web.Pages.UserTimelineModel
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
    var routeName = HttpContext.GetRouteValue("author");
}

<div>
    <h2> @routeName's Timeline </h2>

    @if (!string.IsNullOrEmpty(Model.ErrorMessage))
    {
        <div style="color: red; margin-bottom: 10px;">@Model.ErrorMessage</div>
    }
    <ul id="messagelist" class="cheeps">
        @if (Model.Cheeps.Any())
        {
            <ul class="cheeps-list" style="list-style:none; padding-left:0;">
                @foreach (var cheep in Model.Cheeps.Where(c => !c.ParentCheepID.HasValue)) //Renders only root node cheeps (replies gets rendered from _CheepPartial)
                {
                    @await Html.PartialAsync("_CheepPartial", cheep)
                }
            </ul>
        }
        else
        {
            <em>There are no cheeps so far.</em>
        }
    </ul>

    <div style="display: flex; justify-content: center; align-items: center; gap: 10px;">
        @if (Model.HasPreviousPage)
        {
            <a href="/?currentpage=@(Model.CurrentPage - 1)" style="font-size: 20px;">&larr;</a>
        }
        <span style="font-size: 16px;">Page @Model.CurrentPage</span>
        @if (Model.HasNextPage)
        {
            <a href="/?currentpage=@(Model.CurrentPage + 1)" style="font-size: 20px;">&rarr;</a>
        }
    </div>
</div>
