@page "/user/{author}"
@using Chirp.Infrastructure.Services
@model Chirp.Web.Pages.UserTimelineModel
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
    var routeName = HttpContext.GetRouteValue("author");
}

<div>
    <h2> @routeName's Timeline </h2>

    @if (!string.IsNullOrEmpty(Model.ErrorMessage))
    {
        <div style="color: red; margin-bottom: 10px;">@Model.ErrorMessage</div>
    }
    <ul id="messagelist" class="cheeps">
        @if (Model.Cheeps.Any())
        {
            <ul class="cheeps-list" style="list-style:none; padding-left:0;">
                @foreach (var cheep in Model.Cheeps.Where(c => !c.ParentCheepID.HasValue)) //Renders only root node cheeps (replies gets rendered from _CheepPartial)
                {
                    @await Html.PartialAsync("_CheepPartial", cheep)
                }
            </ul>
        }
        else
        {
            <em>There are no cheeps so far.</em>
        }
    </ul>
</div>
