@page
@model ExternalLoginModel

<h2 id="external-login-title">Finishing your @Model.ProviderDisplayName sign in</h2>
<hr />

<p id="external-login-description" class="text-info">
    Please wait while we complete your sign in with <strong>@Model.ProviderDisplayName</strong> using the details
    provided by the external provider.
</p>
