.aboutme-info-list {
  margin: 0;
  padding: 0 0 0 2em;
  line-height: 2;
}

.aboutme-details {
  margin: 0;
  padding: 0.4em 0 0 1.1em;
}

.aboutme-detail-list {
  margin-top: 0.2em;
  line-height: 1.8;
  list-style: none;
  padding-left: 1.5em;
}

.aboutme-download-button {
  margin-bottom: 0.5em;
  border-radius: 4px;
  padding: 6px;
  width: 8em;
}

.aboutme-forget-me-button {
  margin-bottom: 0.5em;
  color: var(--forget-me-button-text);
  background-color: var(--forget-me-button-background);
  border-radius: 4px;
  padding: 5px 10px;
  width: 8em;
}

.aboutme-forget-me-error {
  color: var(--form-error);
  font-weight: bold;
}