nav {
  background-color: var(--nav-background);
  color: var(--text-default);
  min-height: 2.2em;
  padding-left: 0.8em;
}

nav a {
  color: var(--text-default);
  text-decoration: none;
}

nav a:hover {
  color: var(--link-default);
  text-decoration: none;
}

.navigation-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation-button {
  font-weight: bold;
}