.pagination-display {
  color: var(--text-default);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.pagination-label {
  font-size: 16px;
}

.pagination-button {
  color: var(--text-default);
  font-size: 20px;
}

.pagination-button-unclickable {
  font-size: 20px;
  color: var(--pagination-inactive);
}
