body {
  background: #21242b;
  color: #dddddd;
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 14px;
  padding: 0;
  margin: 0;
}

a {
  color: #7ed3d3;
}

a:hover { 
  color: #333;
}

input[type="email"],
input[type="text"],
input[type="password"] {
  margin-bottom: 4px;
}

input[type="submit"] {
  background: #21242b;
  border: 1px solid #999999;
  padding: 1px 4px;
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 14px;
  font-weight: bold;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  color: #dddddd;
}

div.page {
  background: #dddddd;
  border: 1px solid #999999;
  width: 700px;
  margin: 0 auto 30px auto;
}

div.page header {
  background: #282B34;
  margin: 0;
  padding: 10px 14px;
  color: #dddddd;
}

div.page header h1 {
  display: inline;
  font-size: 100px;
  letter-spacing: 1px;
  font-weight: normal;
  margin-bottom: 2em;
  padding-left: 10px;
}

div.page header a img {
  max-height: 5em;
  filter: invert(1);
  display: inline;
}

div.page div.navigation {
  background: #333742;
  padding: 4px 10px 4px 20;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #eee;
  color: #999999;
  font-size: 12px;
  letter-spacing: 0.5px;
}

div.page div.navigation a {
  color: #dddddd;
  font-weight: bold;
}

div.page h2 {
  margin: 0 0 15px 0;
  color: #dddddd;
}

div.page div.body {
  padding: 10px;
  background: #2e313b;
}

div.page div.footer {
  background: #333742;
  color: #999999;
  padding: 5px 10px;
  font-size: 12px;
}

div.page div.followstatus {
  border: 1px solid #999999;
  background: #E3EBEA;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  padding: 3px;
  font-size: 13px;
}

div.page ul.cheeps {
  list-style: none;
  margin: 0;
  padding: 0;
}

div.page ul.cheeps li {
  margin: 10px 0;
  padding: 5px;
  background: #2d313b;
  border: 1px solid #4c4e52;
  border-radius: 2px;
  min-height: 56px;
  color: #dddddd;
}

div.page ul.cheeps p {
  margin: 0;
}

div.page ul.cheeps li img {
  float: left;
  padding: 0 10px 0 0;
}

div.page ul.cheeps li small {
  font-size: 0.9em;
  color: #999999;
}

div.page div.cheepbox {
  margin: 10px 0;
  padding: 5px;
  background: #4a5470;
  border: 1px solid #282B34;
  border-radius: 2px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

div.page div.cheepbox h3 {
  margin: 0;
  font-size: 1em;
  color: #7e2c2c;
}

div.page div.cheepbox p {
  margin: 0;
}

div.page div.cheepbox input[type="text"] {
  width: 585px;
}

div.page div.cheepbox input[type="submit"] {
  width: 70px;
  margin-left: 5px;
}

div.message {
  list-style: none;
  margin: 10px 10px 0 10px;

  background: #333742;
  border: 1px solid #282B34;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  padding: 4px;
  font-size: 13px;
}

ul.message li {
  background: #333742;
  border: 1px solid #282B34;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  padding: 4px;
  font-size: 13px;
}

div.error {
  margin: 10px 0;
  background: #dddddd;
  border: 1px solid #21242b;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  padding: 4px;
  font-size: 13px;
}

div.topics {
  width: 180px;
  height: 250px;
  background: #dddddd;
  border: 1px solid #282B34;
  border-radius: 2px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-left: 460px;
  padding: 10px;
}

ul.topic {
  list-style: none;
  margin: 0;
  padding: 0;
}

li.topic {
  margin: 10px 0;
  padding: 5px;
  background: #F0FAF9;
  border: 1px solid #DBF3F1;
  border-radius: 2px;
  min-height: 20px;
}

nav {
  background-color: #333742;
  color: #dddddd;
  min-height: 2.2em;
  padding-left: 0.8em;
}

nav a{
  color: #dddddd;
  text-decoration: none;
}

nav a:hover{
  color: #7ed3d3;
  text-decoration: none;
}

#post-text-field {
  margin-bottom: 6px;
  background: #eeeeff;
  border-radius: 2px;
}

.cheep-button {
  background:transparent; 
  border-style:none; 
  color:#489cd4; 
  cursor:pointer;
  font-size: 14px;
  font-weight: 500;
  padding: 1px 3px;
  font-family: 'Trebuchet MS', sans-serif;
}

.pagination-display {
  color: #dddddd;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

}

.pagination-label {
  font-size: 16px;
}

.pagination-button {
  color: #dddddd;
  font-size: 20px;
}

.pagination-button-unclickable {
  font-size: 20px;
  color: #4c4e52;

}

.checkbox mb-3 {
  margin: 0;
  padding: 0;
}