@using Chirp.Infrastructure.Services
@using Chirp.Web.Constants

@model CheepDTO

<form method="post" asp-page-handler="Reply" id="reply-form-@Model.CheepId">
    <textarea required
        name="Reply.Text"
        class="reply-textarea"
        id="reply-textarea-@Model.CheepId"
        maxlength="@Constants.MaxCheepLength"
        placeholder="Reply..."></textarea>
    <input type="hidden" name="Reply.CheepID" value="@Model.CheepId">
    <br>
    <input type="submit" value="Post">
    <small id="reply-form-@Model.CheepId-charcount">160 characters left</small>
</form>
