@using Chirp.Infrastructure.Services

@model CheepDTO

<form method="post" asp-page-handler="Reply" id="reply-form-@Model.CheepId">
    <textarea required
        name="Reply.Text"
        class="reply-textarea"
        id="reply-textarea-@Model.CheepId"
        placeholder="Reply..."></textarea>
    <input type="hidden" name="Reply.CheepID" value="@Model.CheepId">
    <input type="submit" value="Post">
</form>
